:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  padding: 0;
  border: 0;

<<<<<<< HEAD
  color-scheme: light dark;
  --text: #0b130b;
  --background: #f7f9f6;
  --primary: #71a86b;
  --secondary: #a5bfca;
  --button: #849ba5;
  --accent: #889ab9;

=======
>>>>>>> 62aa73246abcb1f7a6ac8cd673738b8a41b563d1
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
<<<<<<< HEAD
[data-theme="dark"] {
  --text: #ecf4ec;
  --background: #070906;
  --primary: #5d9457;
  --secondary: #354f5a;
  --button: #2a3e48;
  --accent: #465877;
}
=======
>>>>>>> 62aa73246abcb1f7a6ac8cd673738b8a41b563d1
