.header {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    background-color: var(--background);
    color: var(--text);
    border-bottom: 2px solid var(--background2);
}
.header a {
    color: var(--text);
}
.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
}
.left img {
    padding-left: 50px;
    height: 50px;
}
.left h3 {
    padding-left: 50px;
}
.right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-content: center;
    gap: 15px;
    width: 100%;
    position:relative
}
.right img{
    height: 38px;
}

.search {
    display: flex;
    justify-content: right;
    align-items: center;
    align-items: center;
}
#link {
    text-decoration: none;
    color: var(--text);
}
.remove {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.hamburgerIcon {
    display: none;
}
.menuOpen {
    display: block;
  
}
.dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;  
    right: 0; 
    background-color: var(--background);
    border: 1px solid var(--text);
    border-radius: 8px;
    padding: 10px;
    z-index: 1;
    width: 200px;
    flex-direction: column;
    align-items: center;
}
.account {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding-bottom: 0;
        width: 100%;
    }
    .hamburgerIcon {
        display: flex;
        font-size: 2rem;
        margin-right: 25px;
    }
    .search {
        width: 100%;
        font-size: var(--h5);
    }
    .left {
        width: 100%;
        justify-content: center;
    }
    .left img {
        padding-left: 0;
    }
    .right {
        width: 100%;
        gap: 0;
        position:absolute
    }
    .remove {
        display: none;
    }

    .dropdownMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}