.photo {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 15px;
    padding: 50px 250px 50px 250px;
    
}

.photo h1{
    text-align: center;
    
}

.photo img {
    height: 200px;
    width: 200px;
}

.photoContainer {
    padding-top: 50px;
    background-color: var(--background);
}
.photoContainer a{
    color: var(--text);
}
@media screen and (max-width: 600px) {
    .photo {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(2, 1fr);
        
        padding: 0 0 25px 10%;
    }
    .photo img {
        height: 150px;
        width: 150px;
    }
}