.blogPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
}
.blogContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-top: 50px;
    color: var(--text);
    border-radius: 15px;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
}
.link {
    display: block;
    text-decoration: none; /* Optional: Removes underline from links */
    width: 50%;
    
}
.box {
    text-align: left;
    padding-left: 25px;
    background-color: var(--background2);
    border-radius: 15px;
    padding: 15px;
}
h3 {
    font-size: 16px;
    padding-right: 25px;
}
.p {
    font-size: 12px;
    color: #111;
}

@media (max-width: 480px) {
    .blogContainer {
        width: 100%;
    }
    .link {
        width: 100%;
    }
    .box {
        border-radius: 0px;
    }
}