.blogPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
}
.blogContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-top: 50px;
    color: var(--text);
    border-radius: 15px;
}
.row {
    display: flex;
    
    color: var(--text);
}
.column1 {
  flex: 1; /* Adjusts the size of column1 */
  display: flex;
  justify-content: center;
}

.column2 {
  flex: 2; /* Adjusts the size of column2 */
  text-align: left;
  padding-left: 15px; /* Aligns content to the right */
}

.column3 {
  flex: 1; /* Adjusts the size of column3 */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.link {
    display: block;
    text-decoration: none; /* Optional: Removes underline from links */
    width: 50%;
    
}
.image {
    height: 125px;
    width: 125px;
}
.box {
    text-align: left;
    padding-left: 25px;
    background-color: var(--background2);
    border-radius: 15px;
    padding: 15px;
}
h3 {
    font-size: 16px;
    padding-right: 25px;
}
.p {
    font-size: 12px;
    color: #111;
}

@media (max-width: 480px) {
    .blogContainer {
        width: 100%;
    }
    .link {
        width: 100%;
    }
    .box {
        border-radius: 0px;
    }
    .row {
        display: grid;
        grid-template-columns: .5fr 1fr;
        grid-template-rows: 0.75fr 0.25fr;
        gap: 0px;
    }
    .column1 {
        grid-row: 1 / span 2; /* Span both rows */
        grid-column: 1;
        display: flex;
        align-items: center; /* Center vertically */
        justify-content: center; /* Align items to the center */
    }
    .column2 {
        grid-row: 1;
        grid-column: 2;
        text-align: left; /* Align the text to the left */
    }
    .column3 {
        grid-row: 2;
        grid-column: 2;
        text-align: left;
        margin: 0;
        font-size: 12px;
    }
}