.addBlogContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding: 50px 0 0 0;
    margin: 0 10% 0 10%;
    color: var(--text);
}
.input {
    padding: 8px;
    font-size: 26px;
    font-weight: 700;
    width: 500px;
    background-color: var(--background2);
    border-radius: 8px;
    border: 0;
    outline: none;
    color: var(--text);
}
input::placeholder,
textarea::placeholder {
  color: var(--text);
  font-weight: 300;
}
#image {
    font-size: 22px;
}
textarea {
    height: 200px;
}
#button {
    background-color: lightgreen;
    border: 0;
    font-size: 32px;
    font-weight: 700;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    color: var(--text);
}
#button:hover {
  background-color: #15c48e;
}

@media only screen and (max-width: 600px) {
    .addBlogContainer {
        gap: 25px;
        padding: 50px 0 0 0;
        margin: 0 ;
    }
    .input {
        width: 90%;
        border-radius: 8px;
        border: 0;
        outline: none;
    }
    #image {
        width: 95%;
    }
}