.adminContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 750px;
    color: var(--text);
    background-color: var(--background);
}
.adminContainer a {
    color: var(--text);
}
.mainContent {
  flex-grow: 1;
  overflow-y: auto; 
}
.navBar {
    display: flex;
    justify-content: center;
    gap:50px;
    font-size: 24px;
    padding: 10px 0 10px 0;
    background-color: var(--background2);
    color: var(--text);
}
.icon {
    padding-right: 5px;
}

#logout {
    border-radius: 8px;
    border: 0;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .adminContainer {
        margin:0 ;
    }

    .navBar {
        justify-content: flex-end;
        font-size: 16px;
        gap:10px;
        padding: 10px ;
    }
}